# Mac
.DS_Store

# Eclipse
.classpath
.settings
.project

# Intellij
.idea/
*.iml
*.iws

# NodeJs
/npm-debug.log
node_modules
coverage

# Don't upload Enterprise Activiti license
generators/app/templates/aio/runner/docker-compose/aps/enterprise-license/activiti.lic
